* {
    margin: 0;
    padding: 0;
    height:auto;

}
html {
    scroll-behavior: smooth;
    background-image:url('./imagens/303594.jpg');


}
.html img{
    width: 1000px;
    background-repeat:no-repeat;
    display: block;
}

.background{
    background: url("./imagens/303584.png");
    filter: blur(0px);

    display: flex;
    justify-content: center;
    align-content: center;
    background-size:contain;

}
.logo{
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;


}
.logo img {
    width: 100%;
    mix-blend-mode:hard-light;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: max-content;
}
.subscribe{
    
    text-align: center;
    border-top: 10px solid blue;
    border-bottom: 5px solid blue;

}
.subscribe img { 
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-content: center;

}
.subscribe h1{
    left: 117px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #FA9C68;
    text-shadow: 10px 5px 8px rgb(182, 24, 187)
}
.subscribe h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #9B25EC;
    text-shadow: 0px 4px 4px rgb(176, 115, 49);

}

.forms {

    height:100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forms input {
    border-radius:200px;
    border: 0;
    padding:8px 10px;
    box-shadow:inset 0px 1px 4px rgb( 0 0 0 / 75%);
}
.forms input[type="submit"]{
    text-shadow: 2px 3px 2px rgb(255, 255, 255);
    color: #af58e9;
    font-weight: bold;
    background-color: #f8d7c5;
}
footer {
    color: #9B25EC;
    margin-top: 65vh;
    text-align: center;
}




    
